[Unit]
Description=Daraz Scraper Flask API
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/daraz-scraper/daraz-project
Environment="PATH=/home/ubuntu/venv/bin"
ExecStart=/bin/bash /home/ubuntu/daraz-scraper/daraz-project/start_flask.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target